
html {
    height:100%;
    width:100%;
}

/* MAIN LAYOUT */
body {
    width: 100%;
    height: 100%;
    _margin: 0;
    _background: #ededed;
    _min-width: 240px; 
    _-webkit-text-size-adjust: none; /* The text size is not adjusted for Safari on iPhone */
    font-family: Tahoma,Arial,Verdana;
    font-size: 12px;
    color: black;
}

.amcharts-chart-div a{
    display: none;
    visibility: hidden;
}


a:link {color: #84c4e2;}
a:visited {color:#84c4e2;}
a:hover {color: #cd82ad;}
a:active {color: #84c4e2;}
