
html {
    height:100%;
    width:100%;
}

/* MAIN LAYOUT */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #ededed;
    -webkit-text-size-adjust: none; /* The text size is not adjusted for Safari on iPhone */
    font-family: "Arial";
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  max-width: 960px;
  min-height: 300px;
  height: 100%;
}

.main .content {
  margin: 0 5%;
}

/*////////////////////////////////////////////////
// Competency collection holder
///////////////////////////////*/

div.dummy {}

.competency-collection-holder {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.competency-collection-holder h2 {
    background: chocolate url(/skillset/images/arrowright.png) no-repeat 5px center;
    background-size: auto 60%;
    width: auto;
    padding: 10px 10px 10px 40px;
    display: block;
    margin: 1px;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
}

/*////////////////////////////////////////////////////////
// Skill form
///////////////////////////////////////////////*/

div.dummy {}

.Skill #content {
    width: 60%;
    height: 100%;
}

.skilledit-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.competency-name {
    margin: 0 auto;
    text-align: center;
    height: 30%;
    max-height: 100px;
}

.skill-form ul.selectiongroup {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 30%;
    max-height: 120px;
}

/* On a small horisontal device. Do compact view to avoid scrolling in the simple skill card.*/
@media only screen and (max-height: 360px) {
  .competency-name {
    height: 40px;
  }
  .skill-form ul.selectiongroup {
    height: 60px;
  }
}

.skill-form ul.selectiongroup li {
    width: 25%;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    height: 50px;
    margin: 5px;
    background-color: lightgrey;
    line-height: 50px;
    overflow: hidden;
}

.skill-form ul.selectiongroup li.selected {
    background-color: lightseagreen;
}

.skill-form label.group-label {
    margin-left: 5px;
}

.skill-form .action {
    height: 100%;
    width: 20%;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    cursor: pointer;
    font-size: large;
    border-width: 0;
}

#submit-previous {
    background: lightgray url(/skillset/images/goback.png) no-repeat center right;
    left: 0px;
    text-align: right;
}

#submit-next {
    background: lightgray url(/skillset/images/gonext.png) no-repeat center left;
    right: 0px;
    text-align: left;
}

.hidden {
  display: hidden;
}

/*//////////////////////////////////
// Profile Page
/////////////////////////*/

#Dummytag {}

div.competency-collections {
    display: flex;
    flex-direction: column;
}

div.boxed-link {
    border: black solid 0px;
    float: left;
    display: inline;
    margin: 10px;
}

div.boxed-link img {
    display: block;
    max-height: 200px;
    max-width: 200px;
    border: 1px solid;
}

/*///////////////////////////
// Why page
////////////////////*/

.dummy {}

body.Why div.boxed-link {
    max-width: 500px;
    display: block;
    float: none;
}

body.Why div.boxed-link img {
    max-height: 500px;
    max-width: 500px;
}

/*/////////////////////
// Index
/////////////////////*/

.Index .Button {
  width: 90%;
}

.Index h2 {
    background: chocolate;
    width: auto;
    padding: 10px 10px 10px 10px;
    margin: 20px 0;
    border: 0px;
    border-radius: 8px;
    color: black;
    cursor: pointer;
}

.Index form {
  max-width: 280px;
}

.Index fieldset {
  border-width: 0;
  margin: 0;
  padding: 0;
}

.Index input.text {
  line-height: 2em;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
}

.Index div.checkbox {
  display: none;
}

.Index input.action {
  float: right;
  position: relative;
  background-color: cadetblue;
  font-size: 20px;
  border-radius: 7px;
  margin: 0;
}

.Index div.Actions p {
  margin: 0;
}

.Index a{
    text-decoration: none;
}

.Index .login form, .Index .signup form {
    display: none;
}

/*//////////////////////////
// Top Menu
////////////*/

div.head {
    margin: 0 0 50px 0;
    width: 90%;
    _position: absolute;
    top: 0;
    align-self:center;
    z-index: 10;
}

ul.top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 8px 8px;
}

ul.top-menu li {
    width: auto;
    margin: 10px auto;
    color: white;
    font-size: 18px;
}

ul.top-menu li a {
    color: white;
}
